scripts/ingestion/schemas/billstatus.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="billstatus" type="billstatusType"/>
  
  <xs:complexType name="billstatusType">
    <xs:sequence>
      <xs:element name="congress" type="xs:integer"/>
      <xs:element name="type" type="xs:string"/>
      <xs:element name="number" type="xs:integer"/>
      <xs:element name="title" type="xs:string"/>
      <xs:element name="status" type="xs:string"/>
      <xs:element name="actions" type="actionsType" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="actionsType">
    <xs:sequence>
      <xs:element name="action" type="actionType" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="actionType">
    <xs:sequence>
      <xs:element name="date" type="xs:date"/>
      <xs:element name="text" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>