scripts/ingestion/schemas/bill.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="bill" type="billType"/>
  
  <xs:complexType name="billType">
    <xs:sequence>
      <xs:element name="congress" type="xs:integer"/>
      <xs:element name="type" type="xs:string"/>
      <xs:element name="number" type="xs:integer"/>
      <xs:element name="version" type="xs:string" minOccurs="0"/>
      <xs:element name="title" type="xs:string"/>
      <xs:element name="content" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>