scripts/ingestion/schemas/crec.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="congressionalrecord" type="crecType"/>
  
  <xs:complexType name="crecType">
    <xs:sequence>
      <xs:element name="date" type="xs:date"/>
      <xs:element name="volume" type="xs:integer"/>
      <xs:element name="number" type="xs:integer"/>
      <xs:element name="chamber" type="xs:string"/>
      <xs:element name="content" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>