scripts/ingestion/schemas/fr.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="federalregister" type="frType"/>
  
  <xs:complexType name="frType">
    <xs:sequence>
      <xs:element name="date" type="xs:date"/>
      <xs:element name="volume" type="xs:integer"/>
      <xs:element name="number" type="xs:integer"/>
      <xs:element name="title" type="xs:string"/>
      <xs:element name="content" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>