scripts/ingestion/schemas/plaw.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="publiclaw" type="publicLawType"/>
  
  <xs:complexType name="publicLawType">
    <xs:sequence>
      <xs:element name="congress" type="xs:integer"/>
      <xs:element name="law" type="xs:integer"/>
      <xs:element name="title" type="xs:string"/>
      <xs:element name="content" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>